@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  /* Menu */
  --cor-header: #f5c423;
  --cor-fonteheader: #ffffff;
  --cor-headermenu: #252525f;
  --cor-Fontemenu: #ffffff;
  --cor-hovermenu: #188BE9;
  --cor-bg: #252525;
}

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Open Sans' ,sans-serif;  }
  
    #menu-h{
      background-color: var(--cor-headermenu);
  }
  
  body {
    background-color: var(--cor-bg);
  }

  html {
    scroll-behavior: smooth;
  }

  /* Cabeçalho */
  header {
    background-color: var(--cor-header);
    text-align: center;
    padding: 15px;
    color: var(--cor-fonteheader);
    /*box-shadow: 0px 3px 10px #d8d7d7;*/
    /*margin-bottom: 2px;*/
  }

  #menu-h ul {
      max-width: 800px;
      list-style: none;
      padding: 0;
  }
  
  #menu-h ul li {
      display: inline;
  }
  
  #menu-h ul li a {
      color: var(--cor-Fontemenu);
      padding: 20px;
      display: inline-block;
      text-decoration: none;
      font-size: 1.2rem;
      transition: background .4s;
  }
    
  #menu-h ul li a:hover {
      background-color: var(--cor-hovermenu);
  }
  
  #menu-h ul li:last-child a {
      float: right;
      background-color: rgb(24, 139, 233);
  }

  .main-banner {
    padding-top: 5px;
    background-image: url("../img/home.jpg");
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
  }

  .main-banner h1,
  .main-banner p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
  }
  
  .main-banner h1 {
    font-size: 54px;
  }
  
  .main-banner p {
    font-size: 32px;
  }
  
  .main-banner h1 {
    font-size: 54px;
  }

  .main-banner p {
    font-size: 32px;
  }

  .destaques h1,
  .destaques {
    padding-top: 8px;
    color: #EEEEEE;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
    padding-bottom: 15px;
  }

  /* Grid de produtos */
  .container {
    background-color: #eee;
    min-height: 60vh;
    padding: 15px;
  }
  
  .products-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .products-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
  
  .card {
    width: 31%;
    margin: 1% 1%;
    display: inline-block;
    padding: 10px;
  }
  
  .product-image {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    border-radius: 7px;
    box-shadow: 0px 3px 10px #444444;
  }
  
  #img-1 {
    background-image: url('../img/car01.jpg');
  }
  
  #img-2 {
    background-image: url('../img/car02.jpg');
  }
  
  #img-3 {
    background-image: url('../img/car03.jpg');
  }
  
  #img-4 {
    background-image: url('../img/car04.jpg');
  }
  
  #img-5 {
    background-image: url('../img/car05.jpg');
  }
  
  #img-6 {
    background-image: url('../img/car06.jpg');
  }
  
  h3 {
    margin-bottom: 10px;
    color: #1996c7;
    font-size: 22px;
    text-align: center;
   
  }
  
  .card p {
    margin-bottom: 5px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .btn {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #2e7da1;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #4d2d52;
  }
  
  .btnvermais:hover {
    background-color: #e087ee;
  }

input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
  width: 400px;
}

textarea {
  padding: 10px 5px;
}

.header h3 {
  color: #fff;
  margin-top: 0;
}

/* form container */
.form-container {
  background-color: #fdfdfd;
  width: 60%;
  margin: 0 auto;
  position: relative;
  top: -62px;
}

/* form header */
.form-header {
  border-bottom: 1px solid #dfdfdf;
  height: 45px;
}

.form-header p {
  border-bottom: 2px; 
  width: 100px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  height: 45px;
  line-height: 45px;
}

/* form body */
.form-body {
  padding: 30px;
}

.form-title {
  margin-bottom: 15px;
}

.form-body p {
  margin-bottom: 20px;
}

.required-field {
  color: #d80835;
}

.box-input {
  margin-bottom: 35px;
}

.block {
  display: block;
}

.optional-box {
  display: inline-block;
  margin: 0 30px 30px 0;
}

.optional-list li {
  list-style: none;
  margin-bottom: 5px;
}

.box-input p {
  margin-bottom: 15px;
}

.btn-submit {
  background-color: #673ab7;
  color: #fff;
  border: 2px solid transparent;
  width: 150px;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
}

.btn-submit:hover {
  background-color: #fff;
  border-color: #673ab7;
  color: #673ab7;
}

  /* Rodapé */
  footer {
    background-color: #2e7da1;
    text-align: center;
    padding: 80px;
    color: #fff;
  }
  